<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hmx.system.dao.HmxGovMapper" >

  <resultMap id="BaseResultMap" type="com.hmx.system.entity.HmxGov" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_title" property="categoryTitle" jdbcType="VARCHAR" />
    <result column="category_content" property="categoryContent" jdbcType="VARCHAR" />
  	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  	<result column="content_images" property="contentImages" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
      	<if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
          </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Base_Column_List" >
    id,category_title,category_content,create_time,content_images,status
  </sql>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hmx.system.entity.HmxGovExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hmxgov

    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hmxgov
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hmxgov
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByExample" parameterType="com.hmx.system.entity.HmxGovExample" >
    delete from hmxgov
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  
  <!--<insert id="insert" parameterType="com.hmx.system.entity.Comment" keyProperty="commentId" useGeneratedKeys="true">-->
    <!--insert into hmx_comment  (comment_id,content,create_date,categoryContent_id,user_id,parent_id,status)-->
    <!--values (#{commentId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP},#{categoryContentId,jdbcType=INTEGER},#{userId,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})-->
  <!--</insert>-->
  
  
  <!--<insert id="insertSelective" parameterType="com.hmx.system.entity.Comment" keyProperty="commentId" useGeneratedKeys="true"  >-->
    <!--insert into hmx_comment-->
    <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
      <!--<if test="commentId != null" >-->
        <!--comment_id,-->
      <!--</if>-->
      <!--<if test="status != null" >-->
        <!--status,-->
      <!--</if>-->
      <!--<if test="content != null" >-->
        <!--content,-->
      <!--</if>-->
      <!--<if test="createDate != null" >-->
        <!--create_date,-->
      <!--</if>-->
      <!--<if test="categoryContentId != null" >-->
        <!--categoryContent_id,-->
      <!--</if>-->
      <!--<if test="userId != null" >-->
        <!--user_id,-->
      <!--</if>-->
      <!--<if test="parentId != null" >-->
        <!--parent_id,-->
      <!--</if>-->

    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
      <!--<if test="commentId != null" >-->
        <!--#{commentId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="status != null" >-->
        <!--#{status,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="content != null" >-->
        <!--#{content,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createDate != null" >-->
        <!--#{createDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="categoryContentId != null" >-->
        <!--#{categoryContentId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="userId != null" >-->
        <!--#{userId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="parentId != null" >-->
        <!--#{parentId,jdbcType=INTEGER},-->
      <!--</if>-->


    <!--</trim>-->
  <!--</insert>-->
  
  <!--<update  id="updateByExample" parameterType="map" >-->
    <!--update hmx_comment-->
    <!--set-->
    <!--comment_id = #{commentId,jdbcType=INTEGER},-->
    <!--status = #{status,jdbcType=INTEGER},-->
    <!--create_date = #{createDate,jdbcType=TIMESTAMP},-->
    <!--content = #{content,jdbcType=VARCHAR},-->
    <!--categoryContent_id = #{categoryContentId,jdbcType=INTEGER},-->
   <!--user_id = #{userId,jdbcType=VARCHAR},-->
    <!--parent_id = #{parentId,jdbcType=INTEGER}-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  
  <select id="countByExample" parameterType="com.hmx.system.entity.HmxGovExample" resultType="java.lang.Integer" >
    select count(1) from hmxgov
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <!--<update  id="updateByPrimaryKeySelective" parameterType="com.hmx.system.entity.HmxGov" >-->
    <!--update hmxgov-->
    <!--<set >-->
      <!--<if test="commentId != null" >-->
        <!--category_title,-->
      <!--</if>-->
      <!--<if test="status != null" >-->
        <!--category_content,-->
      <!--</if>-->
      <!--<if test="status != null" >-->
        <!--status,-->
      <!--</if>-->
      <!--<if test="createDate != null" >-->
        <!--create_date,-->
      <!--</if>-->
      <!--<if test="categoryContentId != null" >-->
        <!--categoryContent_id,-->
      <!--</if>-->
      <!--<if test="userId != null" >-->
        <!--user_id,-->
      <!--</if>-->
      <!--<if test="parentId != null" >-->
        <!--parent_id,-->
      <!--</if>-->


    <!--</set >-->
    <!--where common_id = #{commonId,jdbcType=INTEGER}-->
  <!--</update>-->
  <!---->
  <!---->
  <update id="updateByPrimaryKey" parameterType="com.hmx.system.entity.HmxGov" >
    update hmxgov
    set
    status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
   
   
</mapper>