<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hmx.system.dao.HmxVideoMapper" >

  <resultMap id="BaseResultMap" type="com.hmx.system.entity.HmxVideo" >
    <result column="videoId" property="videoId" jdbcType="VARCHAR" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
  	<result column="size" property="size" jdbcType="INTEGER" />
  	<result column="play_url" property="playURL" jdbcType="VARCHAR" />
  	<result column="bitrate" property="bitrate" jdbcType="VARCHAR" />
  	<result column="definition" property="definition" jdbcType="VARCHAR" />
  	<result column="duration" property="duration" jdbcType="VARCHAR" />
  	<result column="format" property="format" jdbcType="VARCHAR" />
  	<result column="fps" property="fps" jdbcType="VARCHAR" />
  	<result column="encrypt" property="encrypt" jdbcType="INTEGER" />
    <result column="plaintext" property="plaintext" jdbcType="VARCHAR" />
    <result column="complexity" property="complexity" jdbcType="VARCHAR" />
    <result column="streamType" property="streamType" jdbcType="VARCHAR" />
    <result column="rand" property="rand" jdbcType="VARCHAR" />
    <result column="jobId" property="jobId" jdbcType="VARCHAR" />
    <result column="preprocessStatus" property="preprocessStatus" jdbcType="VARCHAR" />
    <result column="watermarkId" property="watermarkId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="creationTime" property="creationTime" jdbcType="VARCHAR" />
    <result column="modificationTime" property="modificationTime" jdbcType="VARCHAR" />
    <result column="encryptType" property="encryptType" jdbcType="VARCHAR" />
    <result column="narrowBandType" property="narrowBandType" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
      	<if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
          </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Base_Column_List" >
    videoId,width,height,size,playURL,bitrate,definition,duration,format,fps,encrypt,plaintext,complexity,streamType,rand,jobId,preprocessStatus,watermarkId,status,creationTime,modificationTime,encryptType,narrowBandType
  </sql>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hmx.system.entity.HmxVideoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hmx_comment
    <!--<where>-->
      <!--<trim suffixOverrides="and">-->
        <!--<if test="title != null">-->
          <!--title like concat("%",#{title},"%")-->
        <!--</if>-->
      <!--</trim>-->
    <!--</where>-->

    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hmx_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hmx_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByExample" parameterType="com.hmx.system.entity.HmxVideoExample" >
    delete from hmx_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  
  <insert id="insert" parameterType="com.hmx.system.entity.HmxVideo" keyProperty="commentId" useGeneratedKeys="true">
    insert into hmx_comment  (comment_id,content,create_date,categoryContent_id,user_id,parent_id,status)
    values (#{commentId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP},#{categoryContentId,jdbcType=INTEGER},#{userId,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  
  
  <insert id="insertSelective" parameterType="com.hmx.system.entity.HmxVideo" keyProperty="commentId" useGeneratedKeys="true"  >
    insert into hmx_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="categoryContentId != null" >
        categoryContent_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryContentId != null" >
        #{categoryContentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>


    </trim>
  </insert>
  
  <update  id="updateByExample" parameterType="map" >
    update hmx_comment
    set
    comment_id = #{commentId,jdbcType=INTEGER},
    status = #{status,jdbcType=INTEGER},
    create_date = #{createDate,jdbcType=TIMESTAMP},
    content = #{content,jdbcType=VARCHAR},
    categoryContent_id = #{categoryContentId,jdbcType=INTEGER},
   user_id = #{userId,jdbcType=VARCHAR},
    parent_id = #{parentId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <select id="countByExample" parameterType="com.hmx.system.entity.HmxVideoExample" resultType="java.lang.Integer" >
    select count(*) from hmx_comment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update  id="updateByPrimaryKeySelective" parameterType="com.hmx.system.entity.HmxVideo" >
    update hmx_comment
    <set >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="categoryContentId != null" >
        categoryContent_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>


    </set >
    where common_id = #{commonId,jdbcType=INTEGER}
  </update>
  
  
  <update id="updateByPrimaryKey" parameterType="com.hmx.system.entity.HmxVideo" >
    update hmx_comment
    set
    comment_id = #{commentId,jdbcType=INTEGER},
    status = #{status,jdbcType=INTEGER},
    create_date = #{createDate,jdbcType=TIMESTAMP},
    content = #{content,jdbcType=VARCHAR},
    categoryContent_id = #{categoryContentId,jdbcType=INTEGER},
   user_id = #{userId,jdbcType=VARCHAR},
    parent_id = #{parentId,jdbcType=INTEGER}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
   
   
</mapper>