<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hmx.log.dao.SysLogMapper" >

  <resultMap id="BaseResultMap" type="com.hmx.log.entity.SysLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="operation" property="operation" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="params" property="params" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
      	<if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
          </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Base_Column_List" >
    id,userId,username,operation,method,params,ip,createDate
  </sql>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hmx.log.entity.SysLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_log
    <!--<where>-->
      <!--<trim suffixOverrides="and">-->
        <!--<if test="title != null">-->
          <!--title like concat("%",#{title},"%")-->
        <!--</if>-->
      <!--</trim>-->
    <!--</where>-->

    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
    <!--delete from sys_log-->
    <!--where score_id = #{scoreId,jdbcType=INTEGER}-->
  <!--</delete>-->
  
  <!--<delete id="deleteByExample" parameterType="com.hmx.system.entity.ScoreModelExample" >-->
    <!--delete from sys_log-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  
  
  <insert id="insert" parameterType="com.hmx.log.entity.SysLog" keyProperty="id" useGeneratedKeys="true">
    insert into sys_log  (id,userId,username,operation,method,params,ip,createDate)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR},#{username,jdbcType=VARCHAR},#{operation,jdbcType=VARCHAR},#{method,jdbcType=VARCHAR}
    ,#{params,jdbcType=VARCHAR},#{ip,jdbcType=VARCHAR},#{createDate,jdbcType=INTEGER})
  </insert>

  
  <!--<update  id="updateByExample" parameterType="map" >-->
    <!--update sys_log-->
    <!--set-->
    <!--score_id = #{scoreId,jdbcType=INTEGER},-->
    <!--content_id = #{contentId,jdbcType=VARCHAR}-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  
  <select id="countByExample" parameterType="com.hmx.log.entity.SysLogExample" resultType="java.lang.Integer" >
    select count(1) from sys_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <!--<update  id="updateByPrimaryKeySelective" parameterType="com.hmx.system.entity.Tagtab" >-->
    <!--update hmx_tag-->
    <!--<set >-->
      <!--<if test="tagId != null" >-->
        <!--tag_id = #{tagId,jdbcType=INTEGER} ,-->
      <!--</if>-->
      <!--<if test="tagName != null" >-->
        <!--tagName = #{tagName,jdbcType=VARCHAR} ,-->
      <!--</if>-->

    <!--</set >-->
    <!--where tag_id = #{tagId,jdbcType=INTEGER}-->
  <!--</update>-->
  
  
  <!--<update id="updateByPrimaryKey" parameterType="com.hmx.system.entity.Tagtab" >-->
    <!--update hmx_tag-->
    <!--set-->
    <!--tag_id = #{tagId,jdbcType=INTEGER},-->
    <!--tagName = #{tagName,jdbcType=VARCHAR}-->
    <!--where tag_id = #{tagId,jdbcType=INTEGER}-->
  <!--</update>-->
   
   
</mapper>